@import "fonts.css";

body, html {
  position: relative;
  display: block;
  margin: 0;
  overflow-x: hidden;
  font-family: Proxima Nova,sans-serif;
  font-weight: 400;
  counter-reset: _slideshow;
}

@keyframes logo-loaded {
  0%  {
    height: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100%  {
    left: 24px;
    top: 16px;
    height: 35px;
    transform: translate(0, 0);
  }
}

@media (min-width: 1470px) {
  @keyframes logo-loaded {
    0%  {
      height: 35px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    100%  {
      left: 40px;
      top: 16px;
      height: 35px;
      transform: translate(0, 0);
    }
  }
}

#logo-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 35px;
  animation: logo-loaded ease 1s;
  animation-play-state: paused;
}

#logo-name.loaded {
  left: 24px;
  top: 16px;
  height: 35px;
  transform: translate(0, 0);
  animation-play-state: running;
}

.content {
  display: none;
  position: relative;
  height: 100vh;
}

.content.loaded {
  display: block;
}

.site-grid .line,.site-grid:after,.site-grid:before {
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100vh;
  transition: background-color .5s;
  background-color: rgba(0,0,0,.05);
  content: "";
  z-index: 999;
  pointer-events: none;
}

.site-grid .line, .site-grid:after, .site-grid:before {
  background-color: hsla(0,0%,100%,.1);
}

.site-grid .line-h {
  display: none;
  top: auto;
  bottom: 42px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsla(0,0%,100%,0);
}

@media (min-width: 960px) {
  .site-grid .line-h {
      display:block;
  }
}

.site-grid .line-h {
  background-color: hsla(0,0%,100%,.1);
}

.site-grid .line-1 {
  left: 16.66667%;
}

.site-grid .line-2 {
  left: 33.33333%;
}

.site-grid .line-3 {
  left: 50%;
}

.site-grid .line-4 {
  left: 66.66667%;
}

.site-grid .line-5 {
  left: 83.33333%;
}

.site-grid:before {
  left: 24px;
}

@media (min-width: 1470px) {
  .site-grid:before {
      left:40px;
  }
}

.site-grid:after {
  right: 24px;
}

@media (min-width: 1470px) {
  .site-grid:after {
      right:40px;
  }
}

@media (max-width: 1199px) {
  .hide-l {
      display:none;
  }
}

.landing-animation {
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%;
  position: absolute;
}

.timeline {
  position: fixed;
  display: block;
  padding-left: 24px;
  z-index: 6;
  top: 50vh;
  transform: translateY(-50%);
}

.timeline > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline li {
  margin: 0;
  padding-left: 25px;
  margin-top: 14px;
  position: relative;
  color: rgba(255, 255, 255, 0.75);
}

.timeline > ul > li {
  cursor: pointer;
}

.timeline li.active {
  color: #fff;
  font-weight: bold;
}

@media (min-width: 1470px) {
  #logo-name.loaded {
    left: 40px;
  }
  .timeline {
    padding-left: 40px;
  }
}

.timeline-selection {
  position: absolute;
  left: -3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
}

li.active > .timeline-selection::before {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  content: '';
  display: block;
}

li.active > .timeline-selection {
  border-width: 2px;
  left: -4px;
  width: 6px;
  height: 6px;
  color: #fff;
}

.down-arrow {
  width: 68px;
  height: 68px;
  border: 1px solid #fff;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 42px;
  transform: translateX(-50%);
}

.long-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  transition: all 0.2s linear;
}

.long-arrow:before {
  content: '';
  width: 1px;
  height: 35.625px;
  background-color: #fff;
  display: block;
  left: 50%;
  top: 33px;
  transform: translateY(-50%);
  position: absolute;
}

.long-arrow:after {
  content: '';
  top: 43px;
  left: calc(50% - 3px);
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-right-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  position: absolute;
  transform: rotate(-135deg);
  width: 5px;
  height: 5px;
}

.down-arrow:hover > .long-arrow {
  top: 6px;
}

.down-arrow:hover {
  cursor: pointer;
}

.slideshow {
  right: 16.66667%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slideshow > #slideshow-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  height: 175px;
  border: 2px solid;
  border-color: #fff;
  display: block;
  transition: top ease-out .5s;
}

.slideshow > ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow > ol > li {
  width: calc(100vw / 5);
  height: 175px;
  border-width: 2px;
  border-color: rgba(255,255,255,.45);
  border-style: solid;
  border-bottom-style: none;
  position: relative;
}

.slideshow > ol > li:last-child {
  border-bottom-style: solid;
}

.slideshow > ol > li > a:before {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  margin-right: 1rem;
  float: left;
  font-family: Gotham,sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: normal;
  content: "0" counter(_slideshow);
  counter-increment: _slideshow;
  color: #fff;
}

.slideshow > ol > li > a > span {
  font-family: Gotham,sans-serif;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  font-weight: 500;
  position: absolute;
  max-width: calc(100% / 3);
}
