/* Stylesheet for Webmaster Nationals */

html, body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

.section {
    position: relative;
    display: block;
    height: 100vh;
    background-color: #2e3440;
}

.section-inner {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
}

.section-inner::before,
.section-inner::after {
    content: '';
    background: rgb(185, 185, 185);
    border-radius: 50%;
    width: 1px;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.section-inner::before {
    left: 0;
}

.section-inner::after {
    right: 0;
}