@import "fonts.css";

@media (max-aspect-ratio: 12/9) {
	.slideshow {
		display: none;
	}
	
	.info {
		left: 10%;
		width: 80%;
		top: 50% !important;
		transform: translateY(-50%);
	}
	
	.header-text {
		margin-bottom: .5em;
		text-align: center !important;
		font-size: 8vmin !important;;
		width: initial !important;;
	}
	
	.info > .step > div, .info > div:not(.step) {
		width: initial;
		font-size: 2.5vmax;
		text-align: center;
	}
	
	.timeline-selection {
		display: none;
	}
	
	.timeline {
		transform: translateX(-50%) rotate(90deg);
		left: 1.5vh;
	}
	
	.timeline li.active {
		background: #494949;
		color: #fff;
	}
	.timeline > ul > li {
		font-size: 2vh;
		display: inline;
		position: relative;
		background: #fff;
		padding: .25em;
		color: #6f6f6f;
	}
	
	.down-arrow {
		width: 8vh;
		height: 8vh;
	}
	
	.info > .step {
		display: block !important;
	}
	
	.keyboard {
		left: 50% !important;
		transform: translateX(-50%);
		bottom: 5vh;
	}
	
	.keyboard > div {
		width: 5vh;
		height: 5vh;
	}
	
	.keyboard p {
		display: none;
	}
	
	.timeline-bottom {
		bottom: 2.5vh;
		transform: translate(-50%, 50%);
	}
	
	.timeline-bottom > ul {
		padding: 0;
	}
	
	.timeline-bottom > ul > li {
		display: inline;
		width: initial;
		height: initial;
		margin: 0 1.5ch;
	}
	
	.timeline-bottom > ul > li > .timeline-text {
		position: relative;
		top: initial;
		left: 0;
		transform: initial;
		font-size: 4vmin;
	}
}