/* Title and title description */
@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto');

body {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 2.47vw;
}

.lander {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden; /* Used for the background slider */
}

.lander-slide {
    width: 600vw;
    height: 100vh;
    position: absolute;
    transform: translateX(calc(-100vw * var(--main-index))); 
    --main-index: 0;
    display: flex;
    transition: transform ease 0.4s;
}

.lander-slide > img {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.lander-slide::after {
    position: absolute;
    background: rgba(0,0,0,0.6);
    content: '';
    width: 100%;
    height: 100%;
}

.lander-content {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.title,
.title-desc {
    margin: 0;
    display: block;
    font-family: 'Audiowide', cursive;
    color: #fff;
    position: relative;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.title {
    margin-top: 1em;
    width: 60vw;
}

.title-desc {
    width: 50vw;
    font-size: 0.6em;
    margin-top: 30px;
}

.nav {
    display: table;
    position: absolute;
    width: 80vw;
    max-width: 650px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
}

.nav > * {
    width: calc(50% - 15px);
    height: 20vh;
    display: inline-flex;
    position: relative;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav > * > p {
    margin: 0;
    z-index: 2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 60%;
    vertical-align: middle;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
    user-select: none;
    transition: all 0.2s ease;
}

.nav > *:hover > p {
    transform: translateY(-50%) translateX(-50%) scale(1);
}

.nav > *:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.nav > *::before {
    background: rgba(0,0,0,0.6);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-1 {
    margin-right: 7.5px;
    margin-bottom: 7.5px;
}

.nav-2 {
    margin-left: 7.5px;
    margin-bottom: 7.5px;
}

.nav-3 {
    margin-right: 7.5px;
    margin-top: 7.5px;
}

.nav-4 {
    margin-left: 7.5px;
    margin-top: 7.5px;
}
