@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

html {
    height: 100%;
    position: relative;
    overflow:hidden;
    background: #1c1d25;
}

::selection {
    background: #ef9a9a;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
    height: 100%;
}

.top {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-0px);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0, 0.96);
}

.active-sec {
    max-width: 1300px;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    border-left: solid #e5e5e5 1px;
    border-right: solid #e5e5e5 1px;
}

.active-sec::before {
    position: absolute;
    display: block;
    left: 50%;
    border-left: solid #e5e5e5 1px;
    height: 100%;
    content: '';
}

.side {
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
    float: left;
}

.color {
    color: #e57373;
}

.lander-header {
    font-weight: 700;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 555px;
    left: 50%;
    transform: translateX(-50%);
    background: #1c1d25;
    top: 22%;
    color: #fff;
}

.lander-header p.center {
    margin: 0;
    font-size: 80px;
}

.center {
    text-align: center;
}

.lander-header .divider {
    display: block;
    width: 30px;
    height: 5px;
    margin: 30px auto;
    background: #e57373;
}

.lander-intro {
    font-size: 20px !important;
    width: 100%;
    margin-bottom: 0px;
    font-family: Inconsolata, monospace;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.toplink {
    text-decoration: none;
    color: #fff;
    display: block;
    height: 51px;
    width: 200px;
    background: #e57373;
    font-size: 20px;
    line-height: 51px;
    text-align: center;
    position: absolute;
    right: 10%;
    transition: 0.1s ease;
    top: 45px;
}

.toplink::before {
    content: '';
    background: #e57373;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: 0.1s ease;
}

.toplink:hover::before {
    transform: scaleX(1.05) scaleY(1.2);
}

.godown {
    width: 45px;
    height: 45px;
    margin: 30px auto 0 auto;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

.godown:hover {
    cursor: pointer;
}

.godown i {
    color: #e57373;
    line-height: 45px;
    text-align: center;
    width: 45px;
    font-size: 32px;
}

.timeline {
    left: calc(50% + 650px);
    position: fixed;
    width: 24px;
    display: flex;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    flex-direction: column;
}

.__step {
    width: 12px;
    height: 12px;
    border: #e5e5e5 1px solid;
    display: flex;
    left: 50%;
    position: relative;
    border-radius: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    background: #1c1d25;
}

.__step::before {
    position: absolute;
    width: 8px;
    height: 8px;
    content: '';
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #e57373;
    opacity: 0;
    transition: ease-in-out 0.2s;
}

.__step-label {
    font-family: Inconsolata, monospace;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    right: 7px;
    transform: translateY(-50%);
    top: 50%;
    padding: 6px 14px 6px 14px;
    white-space: nowrap;
    color: #fff;
    letter-spacing: 0.3px;
    background: rgba(28, 29, 37, 0.9);
    opacity: 0;
    transition: ease-in-out 0.2s;
}

.__step:hover > .__step-label,
.__step-label:hover,
.__step-label.hover,
.__step:hover::before {
    opacity: 1;
    right: 14px;
}

.__step:hover {
    cursor: pointer;
}

.__step.active::before {
    opacity: 1;
}

.__step:last-child {
    margin-bottom: 0;
}

.logo { 
    height: 51px;
    width: auto;
    top: 45px;
    left: 15%;
    position: absolute;
}

.content {
    max-width: 1300px;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    border-left: solid #e5e5e5 1px;
    border-right: solid #e5e5e5 1px;
}

.content::before {
    position: absolute;
    display: block;
    left: 50%;
    border-left: solid #e5e5e5 1px;
    height: 100%;
    content: '';
}

.section {
    background: #1c1d25;
    display: block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    transform: translateY(-50%);
    margin:
}

.section-inner {
    width: 55%;
    position: relative;
    display: block;
    color: #fff;
}

.section.right > .section-inner {
    width: 50%;
    left: 50%;
    position: relative;
    display: block;
    color: #fff;
}

.section-inner > h3 {
    font-size: 32px;
    text-align: center;
}

.section-inner p {
    margin: 0 0 10px 55px;
    text-indent: 42px; 
}

.content > .section::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background: #1c1d25;
    transition: height 0.2s ease-in-out 0.2s;
    z-index: 4;
}

.content > .section {
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.3s;
}

.content > .section.active::before {
    height: 0;
}

.content > .section.active {
    opacity: 1;
}

.section > .backimg {
    display: block;
    position: absolute;
    width: 37%;
    height: calc(100% - 64px);
    background-position: center center;
    background-size: cover;
}

.section::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    display: block;
}

.section.left > .backimg {
    right: 5%;
}

.section {
    padding: 32px;
}

.section.right > .backimg {
    right: 55%;
}

.content > .section > .backimg::before {
    content: '';
    left: 0;
    top: -2px;
    position: absolute;
    width: 50%;
    height: calc(100% + 2px);
    background: #1c1d25;
    /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,0.69) 87%, rgba(255,255,255,0) 100%);*/
    z-index: 4;
    transition: none;
}

.content > .section > .backimg::after {
    content: '';
    left: 50%;
    top: -2px;
    position: absolute;
    width: 50%;
    height: calc(100% + 2px);
    /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,0.69) 87%, rgba(255,255,255,0) 100%);*/
    background: #1c1d25;
    z-index: 4;
    transition: none;
}

.content > .section.active > .backimg::before,
.content > .section.active > .backimg::after {
    height: 0;
}

.content > .section.active > .backimg::before {
    transition: height 0.4s ease-in-out 0.4s;
}

.content > .section.active > .backimg::after {
    transition: height 0.4s ease-in-out 0.5s;
}

#shapes-mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .25s ease .65s;
    z-index: -3
}

.no-js #shapes-mask {
    display: none
}

#shapes-mask svg path {
    stroke: inherit;
    fill: none
}

#shapes-mask .layer1,#shapes-mask .layer2 {
    position: absolute;
    z-index: 1
}

#shapes-mask .p1 {
    left: 30%;
    top: 20%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#shapes-mask .p2 {
    left: 90%;
    top: 70%
}

#shapes-mask .p3 {
    left: 100%;
    top: 20%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#shapes-mask .p4 {
    left: 70%;
    top: 20%
}

#shapes-mask .p5 {
    left: 5%;
    top: 80%
}

#shapes-mask .p5,#shapes-mask .p6 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#shapes-mask .p6 {
    left: 2%;
    top: 20%
}

#shapes-mask .p7 {
    left: 50%;
    bottom: 2%
}

#shapes-mask .p8 {
    left: 85%;
    bottom: 4%
}

#shapes-mask .p9 {
    left: 20%;
    top: 2%;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg)
}

#shapes-mask .p10 {
    left: 10%;
    bottom: 2%;
    -webkit-transform: rotate(85deg);
    transform: rotate(85deg)
}

#shapes-mask .p11 {
    left: 90%;
    top: 2%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#shapes-mask .pink {
    stroke: #f06449;
    fill: none
}

#shapes-mask .yellow {
    stroke: #ff0;
    fill: none
}

#shapes-mask .aqua {
    stroke: aqua;
    fill: none
}
