/* Title and title description */
@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto');

body {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 2.47vw;
}

.lander {
    position: relative;
    width: 100vw;
    height: 180vh;
    display: block;
    overflow: hidden; /* Used for the background slider */
}
