body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Roboto;
    overflow-x: hidden;
}

.landing-back {
    z-index: 44;
}

@media screen and (min-width: 600px) {

.landing-back {
    position: relative;
    height: 77.5vh;
    padding-top: 15px;
    top: 0;
    left: 0;
    width: 100%;
    background: #ff6161;
}

.nav {
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    max-width: 960px;
}

.nav-inner {
    position: relative;
    height: 48px;
    margin: 0 30px;
}

.logo {
    height: 48px;
    width: auto;
    display: inline-block;
}

.nav-l {
    display: inline-block;
    margin: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item {
    display: inline-block;
}

.nav-item > a {
    color: #fff;
    padding: 10px 12px;
    text-transform: uppercase;
}

.spec > a {
    background: #fff;
    color: #ff6161;
    border-radius: 1.5px;
    text-transform: uppercase;
    padding: 10px 12px;
}

.cover-img {
    max-width: 600px;
    width: 56vh;
    min-width: 500px;
    height: auto;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

}

@media screen and (min-width: 1200px) {
.cover-img {
    max-width: 72vh;
    width: 67vw;
    min-width: 500px;
    height: auto;
    top: 100px;
    left: 30%;
    position: absolute;
}

.landing-back {
    height: 67.5vh;
}

}

@media only screen and (max-device-width: 600px) {

.landing-back {
    position: relative;
    padding-top: 15px;
    top: 0;
    left: 0;
    height: 75vh;
    width: 100vw;
    background: #ff6161;
}

.nav {
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    max-width: 960px;
}

.nav-inner {
    position: relative;
    height: 48px;
    margin: 0 30px;
}

.logo {
    height: 120px;
    width: auto;
    display: block;
    position: absolute;
    left: 50vw;
    transform: translateX(-60%);
}

.nav-l {
    display: table;
    margin: 0 auto;
    position: absolute;
    top: 65vh;
    left: 50vw;
    transform: translateX(-60%);
    min-width: 225px;
}

.nav-item {
    display: inline-block;
}

.spec {
    margin: 0 auto;
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-65vh + 150px);
}

.nav-item > a {
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 12px;
    font-size: 24px;
}

.spec > a {
    background: #fff;
    color: #ff6161;
    border-radius: 1.5px;
    margin: 0;
}

.cover-img {
    height: auto;
    width: 10%;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}


}

@media (min-width: 600px) {

.title {
    position: relative;
    top: 36vh;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 64px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
}

.title-desc {
    position: relative;
    top: 37vh;
    max-width: 80vw;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
}

}

@media (min-width: 900px) {
cover-img {
    width: 85vw;
}

.title {
    position: relative;
    top: 39vh;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 64px;
    color: #fff;
    font-weight: 500;
    line-height: 100%;
}

.title-desc {
    position: relative;
    top: 42vh;
    max-width: 70vw;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    color: #fff;
    line-height: 100%;
}
}

@media only screen and (max-device-width: 800px) {

.cover-img {
    width: 85vw;
}

.title {
    position: relative;
    top: 45vh;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 64px;
    color: #fff;
    font-weight: 500;
    line-height: 100%;
}

.title-desc {
    position: relative;
    top: 48vh;
    max-width: 70vw;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    color: #fff;
    line-height: 100%;
}

}

.rmore {
    position: absolute;
    top: 71vh;
    left: 50%;
    transform: translate(-50%);
}

.rmore > .spec {
    min-width: 150px;
    max-width: 200px;
    width: 20vw;
}

.spec > a {
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
}

.rmore > div {
    display: inline-block;
}

.rmore > div > a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.spec.open > a {
    background: transparent;
    color: #fff;
}

@media only screen and (max-device-width: 600px) {

.rmore {
    display: none;
}

}

@media (min-width: 600px) {

.home-card {
    top: -50px;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    width: 80vw;
    min-height: 200px;
}

}
@media only screen and (max-device-width: 600px) {

.home-card {
    top: -120px;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    width: 75vw;
    min-height: 200px;
}

}

.title-extra {
    display: none;
}

@media screen and (min-width: 1200px) {
.title {
    max-width: 600px;
    top: 0;
    font-size: 54px;
    color: #fff;
    font-weight: 500;
    line-height: 100%;
    position: relative;
    text-align: center;
}

.title-desc {
    max-width: 400px;
    text-align: right;
    top: 10px;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
    line-height: 100%;
    position: relative;
}

.rmore {
    position: relative;
    top:20px;
    left:0;
    transform: none;
    margin: 0 auto;
    max-width: 400px;
}

.rmore > .spec {
    max-width: calc(50% - 6px) !important;
}

.title-extra {
    display: block;
    position: relative;
    top: 40px;
    max-width: 400px;
    text-align: right;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    line-height: 100%;
    position: relative;
}

.home-card {
    top: -210px;
}

.coverinfo {
    position: absolute;
    left: 65%;
    top: 30%;
    width: 30%;
    transform: translateX(-50%);
}

}

@media screen and (max-height: 700px) {

.title-extra {
    display: none;
}

}

.home-card {
    padding: 60px 20px;
    max-width: 1000px;
}

.made-by {
    top: 100vh;
    max-width: 1160px !important;
    margin: auto;
    margin-top: 15px;
}

.land-icon {
    font-size: 8em;
    width: 100%;
}

.d {
    max-width: 210px;
    margin: auto;
    font-size: 14px;
}

.l {
    text-align: right;
}

.m {
    text-align: center;
}

.r {
    text-align: left;
}

.l > .d {
    margin-right: 0;
    margin-left: auto;
}

.r > .d {
    margin-left: 0;
    margin-right: auto;
}

footer {
    position: relative;
}

.landing-back::after {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 100vw solid transparent;
    border-top: 20vh solid #ff6161;
    z-index: 100;
}

.section-wrapper {
    position: relative;
    background-size: cover;
    height: 100vw;
}

@media (max-device-width: 700px) {
.section-wrapper {
    margin-top: -25vw;
    margin-bottom: -66vh;
}

.landing-back::after {
    border-top: 4vh solid #ff6161;
}
}

@media (min-width: 700px) {
.section-wrapper {
    margin-top: -34vh;
    margin-bottom: -48vh;
}
}

@media only screen and (min-width: 1100px) {
.section-wrapper {
    margin-top: -16vw;
    margin-bottom: -34vw;
}
}

@media (min-width: 1500px) {
.section-wrapper {
    margin-top: -12vw;
    margin-bottom: -34vw;
}
}

.content-right {
    position: absolute;
    right: 8vw;
    top: 50%;
    transform: translateY(-60%);
    padding: 30px 36px;
    max-width: 816px;
    width: 80vw;
    z-index: 100;
}

.content-left {
    position: absolute;
    left: 8vw;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 36px;
    max-width: 816px;
    width: 80vw;
}
